header
	nav.menu.menu--valentine.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button(
				type="button"
				class="navbar-toggle collapsed"
				data-toggle="collapse"
				data-target="#collapse"
				)
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(class="navbar-brand" href="#home")
					p #{ title }

			.collapse.navbar-collapse#collapse
				ul.menu__list.nav.navbar-nav.navbar-right
					- for menu in public._data.menus
						li.menu__item
							a.menu__link(href="#" + "#{ menu.url }") #{ menu.label }